<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="es">
<head>
<meta property="og:image" content="http://mallvictoria.com{{articulo.imagen.thumbnail.url}}" />
<meta property="og:title" content="{{articulo.titulo}}" />	
<meta property="og:description" content="{{articulo.descripcion}}" />
{% include "base/head.html" %}  	
</head>
<body>	
{% load humanize %}
{% include "base/frmregistro.html" %}	
{% include "base/navbar.html" %}	
	<div id="container">
		{% include "base/header.html" %}	
		<section id="wrapper" class="row wrap">
			<div class="twelve columns">
				<section id="detalle">
					<div class="row">						
						<div class="eight columns titulo">
							<img src="{{MEDIA_URL}}{{articulo.imagen}}" alt="">
							<h3>{{articulo.titulo}}</h3>
						</div>
						<div class="four columns">
							<p class="etiqueta" style="margin-bottom:0px;">Precio:</p>
							<p class="precio"><sup>$</sup> {{articulo.costo}}</p>
							<p class="etiqueta">Compartir:</p>
							<p>
								<div class="boton_social">
								<a id="facebook" href="http://www.facebook.com/sharer.php?u=http://www.mallvictoria.com/detalle?idarticulo={{articulo.id}}" target="_blank" class="social-icono"><i class="social foundicon-facebook icono" style="color: #3B5998;"> <span class="social-texto">Facebook</span></i></a>
								</div>
								<div class="boton_social">
								<a id="twitter" href="http://twitter.com/share?text=@mallvictoria%20{{tweet}}%20&url=http://www.mallvictoria.com/detalle?idarticulo={{articulo.id}}" target="_black" class="social-icono"><i class="social foundicon-twitter icono" style="color:#4099ff;"> <span class="social-texto">Twitter</span></i></a>
								</div>
							</p>
							<p class="etiqueta">Decripci&oacute;n:</p>
							<p>{{articulo.descripcion}}</p>
							<section id="datos-contacto">
								<p class="etiqueta">Datos de Contacto;</p>
								<label><i class="general foundicon-address-book"></i>
									{%if articulo.usuario.sitioweb%}
									<a href="{{articulo.usuario.sitioweb}}" target="_blank" style="vertical-align: top;">{{articulo.usuario.nombre}}</a>
									{%else%}
									{{articulo.usuario.nombre}}
									{%endif%}
								</label>
								{% if articulo.usuario.direccion %}
								<label><i class="general foundicon-location"></i> {{articulo.usuario.direccion}}</label>
								{% endif %}
								{% if articulo.usuario.telefono %}
								<label><i class="general foundicon-phone"></i> {{articulo.usuario.telefono}}</label>
								{% endif %}					
								<label><i class="general foundicon-mail"></i> {{articulo.usuario.correo}}</label>	
								<label><i class="general foundicon-compass"></i> {{articulo.usuario.ciudad.ciudad}}, {{articulo.usuario.estado.estado}}</label>				
							</section>	
						</div>	
					</div>	
				</section>	
				<section id="arts-rel">
					<div class="row">
						<div>
						<div class="twelve columns"> 
							<h4 class="titulo">Art&iacute;culos Relacionados</h4>
						</div>
						<div class="twelve columns"> 
							<div class="lista">
								{% for articulo_relacionado in articulos_relacionados %}
									<article class="three columns mobile-two ">
										<a href="detalle?idarticulo={{articulo_relacionado.id}}">
										<div class="articulo-relacionado panel">
											<img src="{{articulo_relacionado.imagen.thumbnail.url}}" alt="">
											<div class="descripcion">{{articulo_relacionado.titulo}}</div>
											<div class="precio">$ {{articulo_relacionado.costo}}</div>
										</div>
										</a>
									</article>	
								{% empty %}

								{% endfor %}				
							</div>
						</div>
						</div>
					</div>
				</section>	
			</div>		
		</div>
		{% include "base/footer.html" %}	
	</div>

{% include "base/help_logo.html" %}

{% include "base/scripts.html" %}

<!-- Scripts -->
<script src="{{STATIC_URL}}js/mallvictoria.js"></script>
</body>
</html>