<style>
	.col_der{
		padding: 0px;		
		padding-bottom: 5px;
	}
	.col_izq{
		padding: 0px 5px;
		margin-bottom: 5px;
	}
	.btnCerrarPub{
		margin-top: 30px;
	}
</style>
{% for articulo in lista %}
	{% if articulo.0.articulo %}
		<article class="four columns">
			<div class="panel locker_">
				<img src="{{articulo.0.articulo.imagen.thumbnail.url}}"  alt="" class="img-box_">
				<h4>{{articulo.0.articulo.titulo}}</h4>
			    <!--{{articulo.0.articulo.fecha_publicacion|date:'SHORT_DATE_FORMAT'}}
				Vencimiento: {{articulo.0.articulo.fecha_vencimiento|date:'SHORT_DATE_FORMAT'}}-->
				
				<div class="row">
					<div class="six columns text-right col_der">Visitas:</div>
					<div class="six columns text-left col_izq">{{articulo.2}}</div>
					<div class="six columns text-right col_der">Restan:</div>
					<div class="six columns text-left col_izq"><strong>{{articulo.1}} dias</strong></div>
					<div class="six columns text-right col_der">Costo:</div>
					<div class="six columns text-left col_izq">$ {{articulo.0.articulo.costo}}</div>
					<div class="six columns text-right col_der">Categoria:</div>
					<div class="six columns text-left col_izq">{{articulo.0.articulo.categoria.categoria}}</div>
					<div class="six columns text-right col_der">Tipo:</div>
					<div class="six columns text-left col_izq">{{articulo.0.articulo.tipo.tipo}}</div>
				</div>
				<a href="/editlocker?id={{forloop.counter}}&idarticulo={{articulo.0.articulo.id}}" class="round small button btn_locker" idarticulo="{{articulo.0.articulo.id}}">Editar</a>
				<button class="round small button btnCerrarPub btn_locker" idarticulo="{{articulo.0.articulo.id}}">Terminar</button>
			</div>
		</article>
	{% else %}
		<a href="/locker?id={{forloop.counter}}">					
			<article class="four columns">
				<div class="panel locker">
					<img src="{{STATIC_URL}}img/box.png"  alt="" class="img-box">
					<h4>Locker {{forloop.counter}}</h4>
					<p>(click para agregar)</p>
				</div>
			</article>
		</a>
	{% endif %}
{% endfor %}

<script>
	$(".btnCerrarPub").click(function(){
		console.log("click");
		var idarticulo=$(this).attr("idarticulo");
		$.post("/termina_publicacion",{csrfmiddlewaretoken:csrftoken,idarticulo:idarticulo},function(){
			window.location='/administracion/';
		}); 	
	});
</script>
