<!doctype html>
<html lang="es">
<head>
{% include "base/head.html" %}  	
</head>
<body>

{% include "base/frmregistro.html" %}	

{% include "base/navbar.html" %}	
	<input type="hidden" id="token" value="{{ csrf_token }}">
	<div id="container">
		{% include "base/header.html" %}	
		<section id="wrapper" class="row wrap">
			<div class="twelve columns">
				<h3>Gracias por registrarte en mallvictoria.com</h3>
				<p>Ahora date un tiempo para leer este tutorial antes de comenzar.</p>
				<h4>Tutorial</h4>
				<p><span class="success label">Paso 1:</span> Completa los datos de tu perfil para que los usuarios que vean tus art&iacute;culos puedan localizarte mas f&aacute;cilmente.</p>
				<p>
					<span class="success label">Paso 2:</span> Tienes 3 espacios que puedes utilizar para postear cualquier articulo o servicio que quieras promocionar. Cada espacio tendr&aacute; una duraci&oacute;n de 15 d&iacute;as, al cumplirse los 15 d&iacute;as el articulo se borrara de la lista y tu espacio quedara libre para que lo puedas reutilizar cuantas veces quieras. 
				</p>
				<p>Podr&aacute;s marcar cualquiera de tus art&iacute;culos como terminado y re-utilizar ese espacio.</p>
			</div>									
		</section>		
		
		{% include "base/footer.html" %}	
	</div>

{% include "base/help_logo.html" %}

{% include "base/scripts.html" %}

<!-- Scripts -->
<script src="{{STATIC_URL}}js/mallvictoria.js"></script>
</body>
</html>