<!doctype html>
<html lang="es">
<head>
{% include "base/head.html" %}  	
<style>
	#id_costo{
		height: 28px;
		line-height: 25px;
	}	
</style>
</head>
<body>

{% include "base/frmregistro.html" %}	

{% include "base/navbar.html" %}	
	<input type="hidden" id="token" value="{{ csrf_token }}">
	<div id="container">
		{% include "base/header.html" %}	

		<section id="wrapper" class="row wrap">
		<div class="twelve mobile-four columns">
			<h1>Locker {{idlocker}}</h1>																		
		<form class="custom" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
			<fieldset>					
					<input type="hidden" name="usuario" id="id_usuario">
					<input type="hidden" name="status" id="id_status" value="1">
					
					<label for="titulo" {%if formulario.errors.titulo%}class='error'{%endif%}>Articulo:</label>	
					{{formulario.titulo}}
					{{formulario.errors.titulo}}
					<label for="descripcion" {%if formulario.errors.descripcion%}class='error'{%endif%}>Descripci&oacute;n:</label>
					{{formulario.descripcion}}
					{{formulario.errors.descripcion}}
					<div class="row">
						<div class="four columns">
							<label for="costo" {%if formulario.errors.costo%}class='error'{%endif%}>Costo:</label>
							<div class="row">
							  <div class="twelve columns">
							    <div class="row collapse">
							      <div class="two columns">
							        <span style="height: 28px;line-height: 25px;" class="prefix">$</span>
							      </div>
							      <div class="ten columns">
							        {{formulario.costo}}
							      </div>
							    </div>
							</div>
							</div>
						</div>
						<div class="four columns">
								<label for="tipo">Tipo:</label>
								{{formulario.tipo}}														
						</div>
						<div class="four columns">
							<label for="categoria">Categoria:</label>
								{{formulario.categoria}}
										<!--{% for value, text in formulario.categoria.field.choices %}
											<li>{{text}}</li>
										{% endfor %}	-->																			
						</div>
					</div>	
					<div class="row"><div class="twelve columns">{{formulario.errors.costo}}</div></div>
						<label for="imagen">Imagen:</label>
						<img src="{{imagen}}" alt="">											
			</fieldset>						
			<input type="submit" class="button success" value="Guardar">
			<span class="msg_guardan" style="display:none;"> * Procesando los datos, espere un monento por favor.</span>
		</form>					
		</div>	
		</section>		
		
		{% include "base/footer.html" %}	
	</div>

{% include "base/help_logo.html" %}

{% include "base/scripts.html" %}

<!-- Scripts -->
<script src="{{STATIC_URL}}js/mallvictoria.js"></script>
<script>
	$("#frmarticulo").submit(function(){
		//$(this).val('Guardando...');
		$(".msg_guardan").css("display","inline");
		$(this).attr("disabled","disabled");

	});
	$("#id_usuario").val(localStorage.getItem("id"));
</script>
</body>
</html>