<!doctype html>
<html lang="es">
<head>
{% include "base/head.html" %}  	
<style>
	#id_costo{
		height: 28px;
		line-height: 25px;
	}	
</style>
</head>
<body>

{% include "base/frmregistro.html" %}	

{% include "base/navbar.html" %}	
	<input type="hidden" id="token" value="{{ csrf_token }}">
	<div id="container">
		{% include "base/header.html" %}	

		<section id="wrapper" class="row wrap">
		<div class="twelve mobile-four columns">
			<h1>Locker {{idlocker}}</h1>
			<div>{{formulario.errors}}</div>																			
		<form class="custom" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
			<fieldset>					
					<input type="hidden" name="usuario" id="id_usuario">
					<input type="hidden" name="status" id="id_status" value="1">
					<img src="{{imagen}}" alt="">
					<label for="titulo">Articulo:</label>
					{{formulario.titulo}}
					<label for="descripcion">Descripcion:</label>
					{{formulario.descripcion}}
					<div class="row">
						<div class="four columns">
							<label for="costo">Costo:</label>
							<div class="row">
							  <div class="twelve columns">
							    <div class="row collapse">
							      <div class="two columns">
							        <span style="height: 28px;line-height: 25px;" class="prefix">$</span>
							      </div>
							      <div class="ten columns">
							        {{formulario.costo}}
							      </div>
							    </div>
							</div>
							</div>
						</div>

						<div class="four columns">
								<label for="tipo">Tipo:</label>
								{{formulario.tipo}}														
						</div>
						<div class="four columns">
							<label for="categoria">Categoria:</label>
								{{formulario.categoria}}
										<!--{% for value, text in formulario.categoria.field.choices %}
											<li>{{text}}</li>
										{% endfor %}	-->																			
						</div>
					</div>												
			</fieldset>						
			<input type="submit" class="button success" value="Guardar">
		</form>					
		</div>	
		</section>		
		
		{% include "base/footer.html" %}	
	</div>

{% include "base/help_logo.html" %}

{% include "base/scripts.html" %}

<!-- Scripts -->
<script src="{{STATIC_URL}}js/mallvictoria.js"></script>
<script>
	$("#id_usuario").val(localStorage.getItem("id"))
</script>
</body>
</html>