<!doctype html>
<html lang="es">
<head>
{% include "base/head.html" %}  	
<style>
	#id_costo{
		height: 28px;
		line-height: 25px;
	}
	.acceso{
		text-align: center;
		padding-top: 50px;
		padding-bottom: 150px;
	}
</style>
</head>
<body>

{% include "base/frmregistro.html" %}	
{% include "base/navbar.html" %}	
<div id="container">
{% include "base/header.html" %}	

		<section id="wrapper" class="row wrap">
		<div class="twelve mobile-four columns">
		{% ifequal registro 1 %}	
			<div class="acceso">
				<h4>Muchas Gracias por Pegistrarte en mallvictoria.com</h4>
				Ahora pudes <a href="#" id="modal">acceder</a> con tu cuenta y publicar.
			</div>	
		{%else%}
		<h1>Registro de Usuarios</h1>																	
		<form class="custom" action="" method="post">{% csrf_token %}
			<fieldset>	
				<label for="nombre" {%if formulario.errors.nombre%}class='error'{%endif%}><strong>Nombre de Contacto, Empresa o Negocio:</strong></label>
				{{formulario.nombre}}
				{{formulario.errors.nombre}}				
				<label for="correo" {%if formulario.errors.correo%}class='error'{%endif%}><strong>Correo:</strong></label>
				{{formulario.correo}}
				{{formulario.errors.correo}}
				<label for="password" {%if formulario.errors.password%}class='error'{%endif%}><strong>Constrase&ntilde;a:</strong></label>
				{{formulario.password}}	
				{{formulario.errors.password}}	
				<label for="direccion">Direccion:</label>
				{{formulario.direccion}}
				<label for="telefono">Telefono:</label>
				{{formulario.telefono}}				
				<label for="sitioweb">Pagina Personal:</label>
				{{formulario.sitioweb}}			
				<div class="row">
					<div class="six columns">
						<label for="estado"></label>
						{{formulario.estado}}
					</div>
					<div class="six columns">
						<label for="ciudad">
						<select name="ciudad" id="id_ciudad"></select>
						</label>
					</div>
				</div>

			</fieldset>						
			<input type="submit" class="button success" value="Guardar">
		</form>	
		{%endifequal%}				
		</div>	
		</section>		
		
		{% include "base/footer.html" %}	
	</div>

{% include "base/help_logo.html" %}

{% include "base/scripts.html" %}

<!-- Scripts -->
<script src="{{STATIC_URL}}js/mallvictoria.js"></script>
<script>
    $.post("ciudades",{idestado:$("#id_estado option:selected").val(),csrfmiddlewaretoken:getCookie('csrftoken')},function(data){
        $("#id_ciudad").html(data);
    });    	
</script>
</body>
</html>